.card {
  width: 340px;
  flex-shrink: 0;
  padding: 0;
}

.name {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
}

.rating {
  text-align: center;
  margin-top: 8px;
  color: #f5a623;
}
