.header {
  width: 100%;
  height: 500px;
  background-image: url("/wide-header.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.inner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #2b2b30;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 4px;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
}

.logoText {
  color: white;
}

.icons {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1;
  justify-content: flex-end;
}

.icon {
  color: white;
}
